@import "tailwindcss";

@theme {
  --color-background: #0B0B0F;
  --color-surface: #16161C;

  --color-primary: #A855F7;
  --color-primary-light: #C084FC;
  --color-primary-dark: #7E22CE;

  --color-accent: #9333EA;
  --color-glow: rgba(168,85,247,0.35);

  --gradient-primary: linear-gradient(
    135deg,
    #C084FC,
    #A855F7,
    #7E22CE
  );
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}